# Output folders
dist/
build/
target/
out/
classes/
logs/
*.log

# Temp and caches
node_modules/
.cache/
tmp
*~
.history/

# IDE
.idea/
*.iml
.vscode/

# Explicitly include in index
#!.gitignore
#!.travis.yml
client/src/assets/app.global.css
